<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853952300186-70nmsfdb9rrea0p2ete83od4qcubjgai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853952300186-70nmsfdb9rrea0p2ete83od4qcubjgai</string>
	<key>API_KEY</key>
	<string>AIzaSyBUYalwbVGmieHDkKkjcalK5I1O9eeUj-w</string>
	<key>GCM_SENDER_ID</key>
	<string>853952300186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oauthTest</string>
	<key>PROJECT_ID</key>
	<string>gotrue-test</string>
	<key>STORAGE_BUCKET</key>
	<string>gotrue-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853952300186:ios:e32c67affa25882a9e4b23</string>
</dict>
</plist>